// COLORS
$color-footer: #655c56;
$color-white: #fff;
$color-black: #000;
$color-backgound-body: #ededed;

$color-pale-yellow: #f7f7d2;
$color-navy: #0e1e31;
$color-mint: #b9e9d5;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
