// COLORS
$color-primary-light: #effcef;
$color-primary: #ccedd2;
$color-primary-dark: #94d3ac;
$color-footer: #655c56;
$color-white: #fff;
$color-nav-background: #f5f3ed;
$color-backgound-body: #ededed;
