.header {
  background: url("../photos/header/library.jpg");
  background-size: cover;
  margin-top: 5.5rem;
  height: 50vh;
  width: 100vw;

  @include respond(phone) {
    margin-top: 3.5rem;
  }

  &__heading {
    color: black;
  }
}
